WpfApplication1/WpfApplication1/bin/Debug/WpfApplication1.vshost.exe
*.baml
WpfApplication1/WpfApplication1/obj/Debug/VlcPlayer.g.cs
WpfApplication1/WpfApplication1/obj/Debug/VlcPlayer.g.i.cs
WpfApplication1/WpfApplication1/bin/Debug/WpfApplication1.vshost.exe
WpfApplication1/WpfApplication1/bin/Debug/WpfApplication1.vshost.exe